[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/vault-v2.git"]
	path = lib/vault-v2.git
	url = https://github.com/yieldprotocol/vault-v2.git
[submodule "lib/yield-utils-v2"]
	path = lib/yield-utils-v2
	url = https://github.com/yieldprotocol/yield-utils-v2
[submodule "lib/vault-interfaces.git"]
	path = lib/vault-interfaces.git
	url = https://github.com/yieldprotocol/vault-interfaces.git
